@model WebApplication1.Models.AdvanceMoney

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdvanceMoney</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEVELOPER.DeveloperName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEVELOPER.DeveloperName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PayId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
