@model IEnumerable<WebApplication1.Models.DEVELOPER>

@{
    ViewBag.Title = "Index";
}

<h2>Developers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeveloperName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeveloperEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeveloperPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeveloperPass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.License)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeveloperName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeveloperEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeveloperPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeveloperPass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.License)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeveloperId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeveloperId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeveloperId })
        </td>
    </tr>
}

</table>
